*{
    margin: 0px;
    padding:0px;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:#9D7D63;
}
.container{
    padding:2%;
    background-color:bisque;
    border-radius:5%;
}
form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}
form input{
    border:1px solid #9D7D63;
    font-size:1rem;
    height:3rem;
    padding-left:0.5rem;
}
.drop-down{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
    margin-bottom:2rem;
}
img{
    max-width:4rem;
}
#button{
    height:3.5rem;
    font-size:1.2rem;
    background-color: #69523F;
    color:white;
    cursor:pointer;
}
.select_container{
    display:flex;
    justify-content:center;
    background-color:#9D7D63;
    width:10rem;
    border-radius:0.75rem;
    border:1px solid #9D7D63;
}
select{
    background-color:#9D7D63;
    color:white;
    font-size:1.2rem;
}
.msg{
    margin:2rem 0 2rem;
    font-size:1.5rem;
}
button:hover{
    background-color: green !important;
    border:3px solid bisque;
    outline: 1px solid green;
    color:bisque mportant;
}
footer{
    text-align:center;
    position:absolute;
    bottom:2rem;

}
.amount p{
        margin:1rem 0rem 1rem;
        font-size:1.2rem;
}